/* purgecss start ignore */
@tailwind base;
@tailwind components;
/* purgecss end ignore */
@tailwind utilities;

.container {
    max-width: 2000px;
    margin: auto;
    margin-bottom: 3rem;
}

.children {
    max-width: 2000px;
    margin: auto;
    margin-bottom: 3rem;
    background-color: rgb(54, 52, 52);
    color: aliceblue;
}